body {
  font-family: "Helvetica", sans-serif;
  text-align: center;
  padding: 0;
  margin: 0;
}

#start-screen {
  background-image: url("/kitty-mission-keep-baby-happy/images/start_background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh; /* Full viewport height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

#start-button {
  background-color: #eeedc5;
  border: none;
  color: rgb(4, 97, 113);
  padding: 20px 40px;
  border-radius: 40px;
  font-size: 1.8rem;
  font-weight: bold;
  font-family: "Helvetica", sans-serif;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  margin: 10px 0;
}

#start-button:hover {
  background-color: #9ee3f9; /* Blue on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#logo img {
  width: 100%;
  position: relative;
  margin-bottom: 20px;
}

/* #game-container {
  display: flex;
  width: 100vw;
  padding: 20px 0px;
  justify-content: center; }*/

#game-screen {
  background-image: url("/kitty-mission-keep-baby-happy/images/play_background.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh; /* Full viewport height */
  width: 100vw;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

#stats {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 40px;
  left: 40px;
  background-color: rgba(255, 255, 255, 0.7);
  color: rgb(4, 97, 113);
  padding: 40px;
  border-radius: 20px;
  font-family: inherit;
  font-weight: bold;
  font-size: 2rem;
}

#lives img{
  height: 40 px;
}

#final-stats {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 40px;
  left: 40px;
  background-color: rgba(255, 255, 255, 0.7);
  color: rgb(4, 97, 113);
  padding: 40px;
  border-radius: 20px;
  font-family: inherit;
  font-weight: bold;
  font-size: 1.7rem;
}

#final-stats h2 {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(4, 97, 113);
  margin-bottom: 10px;
}

#high-scores {
  font-family: inherit;
  font-weight: bold;
  font-size: 1.8rem;
  list-style-type: decimal;
  padding-left: 20px; /* Padding for list alignment */
  margin: 0;
}

#high-scores ol {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

#high-scores li {
  margin: 8px 0; /* Increased spacing between list items */
  font-size: 1.7rem;
  padding-left: 1em;
  text-indent: -1em;
}

#high-scores li:before {
  border-radius: 1ch;
  padding-inline: 1ch;
  margin-inline-end: 1ch;
}

/* Optional: Styling for text inside each score item */
#high-scores li span {
  font-size: 1.4rem;
  font-weight: normal;
  color: rgba(4, 97, 113, 0.8); /* Slightly muted color for readability */
}

/* #stats {
  display: none;
  font-family: inherit;
  font-weight: normal;
  font-size: 1rem;
} */

#end-screen {
  background-image: url("/kitty-mission-keep-baby-happy/images/end_background.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh; /* Full viewport height */
  width: 100vw;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

#end-screen h1 {
  font-size: 4rem;
  color: #1a4d4f; /* Dark teal for contrast */
  font-weight: bold;
  font-family: "Helvetica", sans-serif;
  margin-bottom: 3%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Subtle shadow for depth */
}

#restart-button {
  background-color: #eeedc5;
  border: none;
  color: rgb(4, 97, 113);
  padding: 20px 40px;
  border-radius: 40px;
  font-size: 1.8rem;
  font-weight: bold;
  font-family: "Helvetica", sans-serif;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  margin: 10px 0;
}

#restart-button:hover {
  background-color: #9ee3f9; /* Blue on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#baby-image-end {
  position: absolute;
  width: 12cm;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20cm;
}
